:root {
  --primary: #main.primary#;
  --primary-background: #main.primary.bg#;
  --secondary: #main.secondary#;
  --secondary-background: #main.secondary.bg#;
  --tertiary: #main.tertiary#;
  --tertiary-background: #main.tertiary.bg#;
  --select: #main.select#;
  --select-background: #main.select.bg#;
  --find: #main.find#;
  --find-background: #main.find.bg#;
  --link: #main.link#;
  --link-visited: #main.link-visited#;
}

[pl]
cursor='whitish
current-line=bg/35352b
whitespace=6a6a6466
comment='grey
keyword='red
string='yellow
number='purple
constant='purple
variable='whitish
operator='red
name='green
property='green
type='blue eff/italic
storage='blue
storage-type='blue
effect='teal

